In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [19]:
credit_card_data=pd.read_csv("/content/creditcard.csv")

In [20]:
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [21]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [22]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [23]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [24]:
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [25]:
legit = credit_card_data[credit_card_data.Class==0]
fraud = credit_card_data[credit_card_data.Class==1]

In [26]:
legit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [27]:
legit['Class'].value_counts()

0    284315
Name: Class, dtype: int64

In [28]:
fraud.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406.0,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1
623,472.0,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1
4920,4462.0,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1
6108,6986.0,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1
6329,7519.0,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1

In [29]:
fraud['Class'].value_counts()

1    492
Name: Class, dtype: int64

In [31]:
legit_sample = legit.sample(n=492)

In [32]:
legit_sample.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
275486,166553.0,-0.206932,0.546045,-1.115418,-2.089972,-0.355122,0.299177,-1.955411,-5.523500,-1.489230,...,-2.064131,1.980917,-0.134139,0.518032,0.508162,-0.092861,0.128067,0.332189,82.80,0
244014,152168.0,-1.982057,-1.871465,0.977700,-1.744761,0.623461,-0.269938,-0.373248,0.073800,-0.778119,...,-0.112191,0.474007,1.397225,0.324012,-0.204746,-0.427738,0.337261,-0.117738,50.00,0
283777,171865.0,0.321210,1.371565,-0.798274,1.840067,1.741685,0.311536,1.536014,-0.625652,-0.787735,...,0.058953,0.721416,-0.306486,0.138580,-0.604937,-0.287266,-0.282118,-0.192882,28.70,0
54530,46493.0,0.760778,-1.406566,0.988025,1.021031,-1.578405,0.483059,-0.786258,0.242330,0.047288,...,-0.387166,-0.932836,-0.061002,0.010137,0.122186,-0.430079,0.061712,0.075580,242.32,0
8591,11588.0,1.165413,-0.164534,0.659332,0.235405,-0.456427,0.080599,-0.454931,0.064128,1.786376,...,-0.181246,-0.037617,-0.037824,0.061181,0.318412,1.084688,-0.081518,-0.018757,12.80,0

In [35]:
fraud.shape

(492, 31)

In [34]:
legit_sample.shape

(492, 31)

In [37]:
new_dataset=pd.concat([legit_sample,fraud],axis=0) #concat rowwise
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
275486,166553.0,-0.206932,0.546045,-1.115418,-2.089972,-0.355122,0.299177,-1.955411,-5.523500,-1.489230,...,-2.064131,1.980917,-0.134139,0.518032,0.508162,-0.092861,0.128067,0.332189,82.80,0
244014,152168.0,-1.982057,-1.871465,0.977700,-1.744761,0.623461,-0.269938,-0.373248,0.073800,-0.778119,...,-0.112191,0.474007,1.397225,0.324012,-0.204746,-0.427738,0.337261,-0.117738,50.00,0
283777,171865.0,0.321210,1.371565,-0.798274,1.840067,1.741685,0.311536,1.536014,-0.625652,-0.787735,...,0.058953,0.721416,-0.306486,0.138580,-0.604937,-0.287266,-0.282118,-0.192882,28.70,0
54530,46493.0,0.760778,-1.406566,0.988025,1.021031,-1.578405,0.483059,-0.786258,0.242330,0.047288,...,-0.387166,-0.932836,-0.061002,0.010137,0.122186,-0.430079,0.061712,0.075580,242.32,0
8591,11588.0,1.165413,-0.164534,0.659332,0.235405,-0.456427,0.080599,-0.454931,0.064128,1.786376,...,-0.181246,-0.037617,-0.037824,0.061181,0.318412,1.084688,-0.081518,-0.018757,12.80,0

In [39]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [40]:
X=new_dataset.drop(columns='Class',axis=1)
Y=new_dataset['Class']

In [41]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
275486  166553.0 -0.206932  0.546045 -1.115418 -2.089972 -0.355122  0.299177
244014  152168.0 -1.982057 -1.871465  0.977700 -1.744761  0.623461 -0.269938
283777  171865.0  0.321210  1.371565 -0.798274  1.840067  1.741685  0.311536
54530    46493.0  0.760778 -1.406566  0.988025  1.021031 -1.578405  0.483059
8591     11588.0  1.165413 -0.164534  0.659332  0.235405 -0.456427  0.080599
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
275486 -1.955411 -5.523500 -1.489230  ...  1.231597 -2.064131  1.980917
244014 -0.373248  0.073800 -0.778119  ... -0.693518 -0.112191  0.474007
283777  1.536014 -0.625652 -0.787735  ...  0.306853  0.058953  0.721416
54530  -0.786258  0.242330  0.047288  ... -0.192730 -0.387166 -0.932836
8591   -0.454931  0.064128  1.786376  ... -0.132347 -0.181246 -0.037617
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
275486 -0.134139  0.518032  0.508162 -0.092861  0.128067  0.332189   82.80
244014  1.397225  0.324012 -0.204746 -0.427738  0.337261 -0.117738   50.00
283777 -0.306486  0.138580 -0.604937 -0.287266 -0.282118 -0.192882   28.70
54530  -0.061002  0.010137  0.122186 -0.430079  0.061712  0.075580  242.32
8591   -0.037824  0.061181  0.318412  1.084688 -0.081518 -0.018757   12.80
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [42]:
print(Y)

275486    0
244014    0
283777    0
54530     0
8591      0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [47]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=2)

In [48]:
model=LogisticRegression()

In [49]:
model.fit(X_train,Y_train)

LogisticRegression()

In [51]:
X_train_prediction=model.predict(X_train)

#Accuracy on Training Data

In [52]:
training_accuracy_score = accuracy_score(X_train_prediction,Y_train)

In [53]:
training_accuracy_score

0.9466327827191868

In [59]:
print("The accuracy score is:",int(training_accuracy_score*100),"%")

The accuracy score is: 94 %

#Accuracy on Test Data

In [60]:
X_test_prediction=model.predict(X_test)

In [61]:
testing_accuracy_score=accuracy_score(X_test_prediction,Y_test)

In [62]:
print("The accuracy score is:",int(testing_accuracy_score*100),"%")

The accuracy score is: 91 %